textarea.form-control {
    height: 100% !important;
}

input[type=checkbox] {
    width: 20px !important;
    height: 20px !important;
}

.section-lightGrey {
    background-color: #F5F5F5 !important;
    border-radius: 5px;
    border: 1px solid #DDD;
    box-shadow: none !important;
}

.has-navbar-top .app-body {
    padding-top: 50px !important;
}

.has-navbar-bottom .app-body {
    padding-bottom: 50px !important;
}

.date-input {
    cursor: default;
    background-color: #fff !important;
}

div.custom-bkg {
    background-image: url("/img/main-bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-overlay {
    background-image: url("/img/modal.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.signIn-bkg {
    background-image: url("/img/signIn-bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

button.btn-signin {
    margin-top: 10px;
}

.wrapword {
    word-wrap: break-word;
}

[drag-to-dismiss] {
    transform: translate(0, 0);
    /* NOTE: this is required to prevent mobile webkit issues */
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 300ms, -webkit-transform 300ms;
    -moz-transition: opacity 300ms, -moz-transform 300ms;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
}

.notices-container {
    overflow-x: hidden;
}

.dismiss {
    -webkit-transition: opacity 300ms, -webkit-transform 300ms;
    -moz-transition: opacity 300ms, -moz-transform 300ms;
    transition: opacity 300ms, transform 300ms;
    opacity: 0.5;
}

.dismitted {
    transform: translate(0, 0) !important;
    -webkit-transform: translate(0, 0) !important;
    -moz-transform: translate(0, 0) !important;
    -webkit-transition: opacity 300ms, -webkit-transform 300ms;
    -moz-transition: opacity 300ms, -moz-transform 300ms;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
}

.done-true {
    text-decoration: line-through;
    color: #aaa;
}

button.close {
    margin-bottom: 10px;
}

.warning-text {
    color: #F35C5C;
}

.list-note-title {
    font-weight: 400;
}
